In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Import data
interest_rate = pd.read_csv('Resources/MORTGAGE30US.csv', parse_dates=['DATE'], index_col='DATE')
rent_data = pd.read_csv('Resources/Metro_zori_uc_sfrcondomfr_sm_month.csv',)
total_trans_value = pd.read_csv('Resources/Metro_total_transaction_value_uc_sfr_month.csv', index_col='RegionID')
sales_count = pd.read_csv('Resources/Metro_sales_count_now_uc_sfrcondo_month.csv', index_col='RegionID')
median_sale = pd.read_csv('Resources/Metro_median_sale_price_uc_sfr_month.csv', index_col='RegionID')
market_temp_index = pd.read_csv('Resources/Metro_market_temp_index_uc_sfrcondo_month.csv', index_col='RegionID')

In [3]:
us_rent_data = rent_data[rent_data['RegionName'] == 'United States']
us_total_trans_value = total_trans_value[total_trans_value['RegionName'] == 'United States'].loc[:, '2015-01-31':'2024-07-31']
us_sales_count = sales_count[sales_count['RegionName'] == 'United States'].loc[:, '2015-01-31':'2024-07-31']
us_median_sale = median_sale[median_sale['RegionName'] == 'United States'].loc[:, '2015-01-31':'2024-07-31']
us_market_temp_index = market_temp_index[market_temp_index['RegionName'] == 'United States']

In [4]:
us_rent_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31
0,102001,0,United States,country,NaN,1251.086247,1257.873109,1267.201476,1276.622525,1286.231877,...,1994.372168,1992.185798,1995.312138,2003.473727,2014.90322,2026.72233,2038.685309,2049.528917,2058.255158,2062.847879

In [ ]:
#Interest Rate Clean-Up
interest_rate.index = pd.to_datetime(interest_rate.index, format='%Y-%m-%d', errors='coerce')
filtered_interest_rate = interest_rate.loc['2015-01-01':'2024-12-31'].resample("M").mean()
#filtered_interest_rate = interest_rate.resample("M").mean()
#TEST
filtered_interest_rate

In [5]:
us_rent_data_transposed = us_rent_data.drop(['RegionID', 'SizeRank', 'RegionType', 'StateName', 'RegionName'], axis=1, errors='ignore').T
us_total_trans_value_transposed = us_total_trans_value.drop(['RegionID',], axis=1, errors='ignore').T
us_sales_count_transposed = us_sales_count.drop(['RegionID'], axis=1, errors='ignore').T
us_median_sale_transposed = us_median_sale.drop(['RegionID'], axis=1, errors='ignore').T
us_market_temp_index_transposed = us_market_temp_index.drop(['RegionID', 'SizeRank', 'RegionType', 'StateName', 'RegionName'], axis=1, errors='ignore').T

In [6]:
#us_rent_data_renamed.index.name=None
us_rent_data_transposed.columns

Index([0], dtype='int64')

In [9]:
us_rent_data_transposed.columns

Index([0], dtype='int64')

In [19]:

us_rent_data_cleaned.rename(columns={us_rent_data_cleaned.columns[0]: "Value"}, inplace=True)
us_rent_data_cleaned

Date              Value
2015-01-31  1251.086247
2015-02-28  1257.873109
2015-03-31  1267.201476
2015-04-30  1276.622525
2015-05-31  1286.231877
...                 ...
2024-04-30  2026.722330
2024-05-31  2038.685309
2024-06-30  2049.528917
2024-07-31  2058.255158
2024-08-31  2062.847879

[116 rows x 1 columns]

In [ ]:
us_rent_data_cleaned.reset_index()

In [ ]:
us_rent_data_renamed = us_rent_data_cleaned.rename(columns={"102001": "Rent Data"})
#us_total_trans_value_renamed = us_total_trans_value_transposed.rename(columns={"RegionID": "DATE", "102001": "Total Trans Value"})
#us_sales_count_renamed = us_sales_count_transposed.rename(columns={"RegionID": "DATE", "102001": "Sales Count"}) 
#us_median_sale_renamed = us_median_sale_transposed.rename(columns={"RegionID": "DATE", "102001": "Median Sale"})
#us_market_temp_index_renamed = us_market_temp_index_transposed.rename(columns={"RegionID": "DATE", "102001": "Market Temp Index"})

In [ ]:
#us_rent_data.reset_index()
#us_total_trans_value.reset_index()
#us_sales_count.reset_index() 
#us_median_sale.reset_index()
#us_market_temp_index.reset_index()
#filtered_interest_rate.reset_index()

In [ ]:
#filter us median sales data from 2015-01-31':'2024-07-31
# us_median_sale = us_median_sale.loc[:, '2015-01-31':'2024-07-31']

In [ ]:
us_rent_data_renamed

In [ ]:
#us_rent_data_cleaned = us_rent_data_cleaned.reset_index()  # Move index to a column
us_rent_data_cleaned = us_rent_data_cleaned.rename(columns={"102001": "Rent Data"})
us_rent_data_cleaned

In [ ]:
interest_rate.plot()

In [ ]:
#Cleaning data 
#Date Range: 2014-2024
# Sectionize data for Global in US National data as our Focus
# branch out to Regional Data to get more granular picture
# possibly sort the data to yearly instead of monthly.
#Convert interestrate data from weekly to monthly - filter out data from 2015 to current