In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Import data
interest_rate = pd.read_csv('Resources/MORTGAGE30US.csv', parse_dates=['DATE'], index_col='DATE')
rent_data = pd.read_csv('Resources/Metro_zori_uc_sfrcondomfr_sm_month.csv', index_col='RegionID')
total_trans_value = pd.read_csv('Resources/Metro_total_transaction_value_uc_sfr_month.csv', index_col='RegionID')
sales_count = pd.read_csv('Resources/Metro_sales_count_now_uc_sfrcondo_month.csv', index_col='RegionID')
median_sale = pd.read_csv('Resources/Metro_median_sale_price_uc_sfr_month.csv', index_col='RegionID')
market_temp_index = pd.read_csv('Resources/Metro_market_temp_index_uc_sfrcondo_month.csv', index_col='RegionID')

In [8]:
us_rent_data = rent_data[rent_data['RegionName'] == 'United States']
us_total_trans_value = total_trans_value[total_trans_value['RegionName'] == 'United States'].loc[:, '2015-01-31':'2024-07-31']
us_sales_count = sales_count[sales_count['RegionName'] == 'United States'].loc[:, '2015-01-31':'2024-07-31']
us_median_sale = median_sale[median_sale['RegionName'] == 'United States'].loc[:, '2015-01-31':'2024-07-31']
us_market_temp_index = market_temp_index[market_temp_index['RegionName'] == 'United States']

In [ ]:
## interest rate

In [4]:
us_median_sale.head()

,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,2015-10-31,...,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31
RegionID,,,,,,,,,,,,,,,,,,,,,
102001,173000.0,175000.0,184400.0,189900.0,198000.0,205000.0,201000.0,197500.0,191900.0,188900.0,...,334000.0,329000.0,325000.0,325000.0,338000.0,349922.0,356000.0,366000.0,375000.0,370000.0

In [10]:
interest_rate.head()

            MORTGAGE30US
DATE
1971-04-02          7.33
1971-04-09          7.31
1971-04-16          7.31
1971-04-23          7.31
1971-04-30          7.29

In [ ]:
#filter us median sales data from 2015-01-31':'2024-07-31
# us_median_sale = us_median_sale.loc[:, '2015-01-31':'2024-07-31']

In [ ]:
us_median_sale.head()

In [ ]:
interest_rate.plot()

In [ ]:
#Cleaning data 
#Date Range: 2014-2024
# Sectionize data for Global in US National data as our Focus
# branch out to Regional Data to get more granular picture
# possibly sort the data to yearly instead of monthly.
#Convert interestrate data from weekly to monthly - filter out data from 2015 to current